.product-card {
  width: 354px;
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-bottom: 100px;
  position: relative;
}

.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  cursor: pointer;
}

.product-image-container {
  width: 356px;
  min-height: 338px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  max-width: 356px;
  height: 100%;
  object-fit: cover;
}

.product-info {
  align-self: flex-start;
  margin-top: 24px;
}

.product-name-card {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}

.product-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.out-of-stock {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

.out-of-stock p {
  margin-top: 162px;
  color: #8D8F9A;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}

.shown {
  display: flex;
}

.hidden {
  display: none;
}

.shop-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: 31px;
  bottom: 72px;
  width: 52px;
  height: 52px;
  filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));
  border: none;
  cursor: pointer;
}

.available {
  background-color: #5ECE7B;
}

.not-available {
  pointer-events: none;
  background-color: #8D8F9A;
}