.category-container {
  padding: 130px 5%;
}

.category-name {
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  margin: 0 0 60px 0;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}
