#navbar {
  position: fixed;
  display: flex;
  height: 80px;
  left: 0px;
  right: 0px;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: #fff;
  z-index: 99;
}

#categories-box {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  height: 56px;
  bottom: 0px;
}

#categories-box > a {
  text-decoration: none;
  height: 100%;
  font-family: 'Raleway';
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 16px;
  box-sizing: border-box;
}

#categories-box > a:hover {
  color: #5ECE7B;
}

.active {
  font-weight: 600;
  color: #5ECE7B !important;
  border-bottom: solid 2px #5ECE7B;
}

#logo-box {
  position: absolute;
  left: 50%;
}

#cart-box, #crcy-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#crcy-box {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

#crcy-sign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 10px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

#c-switcher-box {
  display: none;
}

.cart-btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

#cart {
  margin-left: 22px;
}

.cart-amount {
  background-color: #1D1F22;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 60px;
  top: 20px;
  right: 4.5%;
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-darken {
  position: fixed;
  top: 80px;
  background: rgba(57, 55, 72, 0.22);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}
