.product-container {
  padding: 130px 5%;
  display: flex;
}

.images-container {
  display: flex;
}

.images-sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
}

.img-btn {
  background-color: #fff;
  padding: 0;
  border:none;
  cursor: pointer;
  margin-bottom: 35px;
}

.side-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.main-image-container {
  margin-right: 100px;
}

.main-image {
  width: 610px;
  height: 511px;
  object-fit: cover;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  width: 292px;
}

.name-container {
  margin-bottom: 43px;
}

.product-brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 16px;
}

.product-name {
  font-size: 30px;
  line-height: 27px;
}

.add-to-cart a {
  border: none;
  padding: 16px 32px;
  background-color: #5ECE7B;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disabled-link {
  pointer-events: none;
  background-color: #8D8F9A!important;
}

.attribute-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.attribute-name, .price-name {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.attribute-list {
  display: flex;
  align-items: center;
}

.color-box-wrapper,
.color-box-wrapper-active {
  margin-right: 8px;
  padding: 1px;
}

.color-box-wrapper-active {
  border: 1px solid #5ECE7B;
}

.color-box {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.item-box,
.item-box-active {
  box-sizing: border-box;
  width: 65px;
  height: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #1D1F22;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 18px;
  margin-right: 8px;
  cursor: pointer;
}

.item-box {
  color: #292929;
  background-color: #fff;
}

.item-box-active {
  
  color: #fff;
}

.price-container {
  margin: 12px 0 20px 0;
}

.price-amount {
  height: 46px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}

.product-description {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 26px;
  margin-top: 40px;
}
